/* CSS Document */
@charset "utf-8";

:root {
    --pseudoblanco: rgb(247, 243, 237);
    --flynnpaff: rgb(255, 213, 223);
    --banana: rgb(255, 188, 43);
    --mandarina: rgb(246, 130, 77);
    --pitufo: rgb(41, 72, 136);
}

/* configuraciones generales */

* {
    font-family: "novel-sans-pro", sans-serif;
    font-style: normal;
    font-optical-sizing: auto;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Es necesario que los paddings y margins sean exactamente los mismos de figma? Porque me pasa que algunas cosas me van gustando mejor con otras medidas una vez pasadas a código, y por ahí quedan un poco distintas, o tengo que volver a figma y cambiarlas?

Otra cosa, como tengo los tamaños tipográficos en figma en puntos (creo) y en el código en rem, no coinciden exactamente, eso importa??*/

/* HEADER */

header {
    background-color: var(--pseudoblanco);
    padding-bottom: 70px;
}

header p {
    font-size: 2rem;
    color: var(--banana);
    font-weight: 500;
    line-height: 2rem;
}

#barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 100;
    background-color: var(--pitufo);
    padding: 10px 20px;
}

/*TENGO UN PROBLEMA: tengo el hero adentro de mi header, porque quiero que sea el mismo en todas las páginas, pero quiero que el navbar sea sticky, sólo el navbar, no el hero; entonces si le pongo el sticky al navbar, igual desaparece al irse el header en scroll, entonces se me ocurren dos: o lo dejo así fixed en vez de sticky (funciona), o le hago sticky al header completo, pero pasando el hero al body, y copypaste en todos los html. Cuál sería la mejor opción?*/

nav {
    font-weight: 500;
}

nav a {
    padding: 25px;
    color: var(--pseudoblanco);
    line-height: 2.4rem;
}

nav a:hover {
    color: var(--banana);
}

nav a:active {
    color: var(--mandarina);
}

#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    padding-top: 30px;
}

#gif {
    width: 100%;
    height: auto;
    max-width: 800px;
    min-width: 400px;
}

#logo {
    height: 32px;
    width: 32px;
    fill: var(--banana)
}

#logo:hover {
    fill: var(--mandarina)
}



/* MAIN */

main {
    background-color: var(--pseudoblanco);
}

h1 {
    color: var(--mandarina);
    font-family: "formiga", sans-serif;
    font-weight: 550;
    text-align: center;
    line-height: 2.7rem;
    padding: 20px;
}

h2 {
    color: var(--pitufo);
    font-size: 1.7rem;
    font-family: "formiga", sans-serif;
    font-weight: 450;
    line-height: 3rem;
}

h3,
.etiquetas-form {
    color: var(--pitufo);
    font-size: 1.5rem;
    font-weight: 650;
    line-height: 2.2rem;
    max-width: 400px;
    padding: 10px 0px;
}

h4 {
    color: var(--pitufo);
    font-size: 1.5rem;
    font-weight: 450;
    padding: 10px 0px;
}

p {
    text-wrap-style: balance;
    line-height: 1.8rem;
    padding: 5px 0px 5px 0px;
    color: var(--pitufo);
}

ul {
    line-height: 1.8rem;
    color: var(--pitufo);
}

/* INDEX */

.marquesina {
    overflow: hidden;
    white-space: nowrap;
    background-color: var(--banana);
    padding: 5px 0px;
}

.marquesina-contenido {
    display: inline-block;
    animation: scroll 20s linear infinite;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

.marquesina span {
    color: var(--pseudoblanco);
    font-size: 1.5rem;
    font-family: "formiga", sans-serif;
    font-weight: 600;
    text-align: center;
}

#bienvenida {
    padding: 75px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#portadas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 75px;
    padding-top: 50px;
}

.areas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.imagen-centrada {
    display: flex;
    justify-content: center;
}

.img-final-design,
.img-final-about {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.img-final-design {
    background-color: var(--flynnpaff);
}

.img-final-about {
    background-color: var(--pseudoblanco);
}

/*Acá en lo que es css del formulario siento que escribí un choclo ajaja traté de juntar las cosas que se repetían, pero sospecho que me quedaron cosas de más igual; el formulario en sí es simple, pero me resultó bastante complejo hacer que todo quede y se vea como yo quería!*/

/* CONTACTO */

form {
    width: 100%;
    background-color: var(--mandarina);
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 50px;
    margin: 50px;
}

input,
textarea {
    background-color: var(--flynnpaff);
    font-size: 1rem;
    color: var(--pitufo);
    border: none;
    outline: none;
    padding: 15px;
    width: 100%;
    margin-bottom: 30px;
    border: 2px solid transparent;
}

textarea {
    height: 150px;
    resize: none;
    box-shadow: none;
}

label {
    display: flex;
    font-family: "novel-sans-pro", sans-serif;
    color: var(--pitufo);
    gap: 10px;
}

input[type="radio"],
input[type="checkbox"] {
    accent-color: var(--banana);
    border: none;
    outline: none;
    box-shadow: none;
    position: relative;
    top: 4px;
}

input[type="radio"] {
    transform: scale(1.4);
}

input[type="checkbox"] {
    transform: scale(1.2);
}

input[type="submit"] {
    font-family: "novel-sans-pro", sans-serif;
    color: var(--pitufo);
    font-size: 1.5rem;
    font-weight: 650;
    line-height: 2.2rem;
    background-color: var(--banana);
    padding: 10px;
    width: 30%;
    margin-top: 20px;
}

input[type="submit"]:hover {
    background-color: var(--pitufo);
    color: var(--pseudoblanco);
    cursor: pointer;
}

input::placeholder,
textarea::placeholder {
    font-family: "novel-sans-pro", sans-serif;
    font-size: 1rem;
    color: var(--mandarina);
}

input:focus,
textarea:focus {
    border: 2px solid var(--pitufo);
}

#contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
    padding-bottom: 75px;
}

#formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    width: 100%;
    max-width: 1000px;
}

.etiquetas-form {
    padding-bottom: 10px;
}

#enviar {
    display: flex;
    justify-content: end;
}

#radios {
    display: flex;
    justify-content: left;
    gap: 50px;
    flex-wrap: wrap;
}

#checks {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* ABOUT */

#intro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--pseudoblanco);
    padding: 70px;
}

#intro img {
    margin: 0px 50px 0px 0px;
}

#p-about {
    max-width: 475px;
    text-align: left;
    height: fit-content;
}

details {
    padding-top: 20px;
    padding-bottom: 75px;
}

details[open] summary {
    border-bottom-style: none;
    margin-bottom: 10px;
}

summary {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0px;
    border-bottom-style: solid;
    border-radius: 1px;
    border-bottom-color: var(--mandarina);
    transition: margin 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    margin-bottom: -20px;
    cursor: pointer;
}

summary img {
    transition: 0.4s;
}

details[open] img {
    transform: rotate(-180deg);
}

#desplegables {
    padding: 0px 100px 100px 100px;
    margin: 0px 100px;
}

#desplegables h2 {
    color: var(--mandarina);
}

.fechas {
    color: var(--mandarina);
}

.contenido {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 50px 0px;
    border-bottom-style: solid;
    border-radius: 1px;
    border-bottom-color: var(--mandarina);
}

.contenido h3 {
    display: inline;
}

#skills {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 50px;
    border-bottom-style: solid;
    border-radius: 1px;
    border-bottom-color: var(--mandarina);
}

.tableros {
    display: flex;
    align-items: flex-start;
    justify-content: left;
    background-color: var(--flynnpaff);
    gap: 50px;
    padding: 50px;
    margin-bottom: 25px;
}

.tableros ul {
    color: var(--pitufo);
    font-size: 1.5rem;
    font-weight: 450;
    line-height: 2.2rem;
}

.cuarenta {
    width: 40%;
}

.veinte {
    width: 20%;
}

/* DISEÑO */

.titulo-galeria {
    align-items: center;
    background-color: var(--mandarina);
}

.titulo-galeria h1 {
    color: var(--pseudoblanco);
}

.proyecto {
    padding: 75px 0px;
    background-color: var(--flynnpaff);
}

.descripcion {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 10px 60px;
    flex-wrap: wrap;
}

.datos {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.p-bold {
    font-weight: 800;
    color: var(--mandarina);
}

.h4-naranja {
    color: var(--mandarina);
}

.swiper {
    width: 100%;
    height: auto;
}

.swiper-slide img,
.swiper-slide video {
    width: 100%;
    height: auto;
    display: block;
}

.swiper .swiper-button-next,
.swiper .swiper-button-prev {
    color: var(--mandarina);
}

/* ILUS */

#galeria {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    padding: 50px;
    background-color: var(--flynnpaff);
}

#galeria a {
    padding: 15px;
}

#video {
    display: flex;
    justify-content: center;
    background-color: var(--flynnpaff);
}

video {
    height: 600px;
    width: auto;
}

.fancybox-button path {
    fill: var(--banana);
}

/* FOOTER */

#footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: fit-content;
    background-color: var(--flynnpaff);
}

#footer ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
}

#footer p {
    text-align: center;
    font-size: 0.8rem;
    padding-top: 10px;
}

#footer h2 {
    font-family: "novel-sans-pro", sans-serif;
    font-size: 2rem;
    color: var(--pitufo);
    padding: 10px 0px;
}

#trabajemos {
    background-color: var(--pitufo);
    padding: 15px;
    text-align: center;
}

#trabajemos p {
    font-family: "formiga", sans-serif;
    font-weight: 500;
    font-size: 1.8rem;
    color: var(--mandarina);
}

#redes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: fit-content;
    padding: 30px 10px 20px 10px;
}

.iconos {
    height: 40px;
    width: 40px;
    fill: var(--pseudoblanco);
}

.iconos:hover {
    fill: var(--banana)
}

#footer li {
    padding: 0px 20px;
}

/* RESPONSIVE - SÓLO INDEX */

@media screen and (max-width: 900px) {

    header {
        padding-bottom: 50px;
    }

    header p {
        font-size: 2.2rem;
    }

    #barra {
        padding: 15px 25px;
    }

    nav a {
        font-size: 1.4rem;
    }

    #bienvenida {
        padding: 30px 0px;
    }

    #portadas {
        gap: 20px;
        padding-top: 30px;
    }

    #trabajemos {
        padding: 20px;
    }

    #trabajemos p {
        font-size: 2rem;
    }

    .iconos {
        height: 48px;
        width: 48px;
    }

    #footer li {
        padding: 0px 20px;
    }

    #footer p {
        font-size: 1.4rem;
    }

    #footer h2 {
        font-size: 2.3rem;
        padding: 15px 0px;
    }

}

@media screen and (max-width: 500px) {

    header {
        padding-bottom: 30px;
    }

    header p {
        font-size: 1.4rem;
    }

    #barra {
        padding: 10px 15px;
    }

    nav {
        font-weight: 700;
    }

    nav a {
        font-size: 0.9rem;
        padding: 6px;
    }

    h1 {
        font-size: 1.6rem;
        line-height: 2rem;
    }

    h2 {
        font-size: 1.4rem;
    }

    #bienvenida {
        padding: 20px 0px;
    }

    #portadas {
        gap: 0px;
        padding-top: 10px;
    }

    .caratula {
        width: 80%;
    }

    #trabajemos {
        padding: 5px;
    }

    #trabajemos p {
        font-size: 1.2rem;
    }

    #footer p {
        font-size: 0.9rem;
        padding: 5px;
    }

    #footer h2 {
        font-size: 1.4rem;
        padding: 10px 0px;
    }

    #footer {
        padding-bottom: 25px;
    }

    #hadita1 {
        display: none;
    }

    #hadita2 {
        width: 32%;
        height: auto;
    }

}