/* CSS Document */
@charset "utf-8";

/* configuraciones generales */

* {
    font-family: "Montserrat", sans-serif;
}

main {
    background-color:antiquewhite;
}

.botonera {
    font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
        text-align: center;
        text-decoration: none;
}

a {
    text-decoration: none;
}


header p {
    font-size: 2.5rem;
    color: rgb(138, 138, 138);
    font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
        text-align: center;
}

/* aplicaciones */

p {
    text-wrap-style: balance;
}

ul {
    line-height: 2rem;
    list-style: none;
}

h1 {
    color: rgb(255, 182, 47);
    font-size: 3rem;
font-family: "Bellota", system-ui;
    font-weight: 700;
    font-style: normal;
    text-align: center;
}

h2 {
    color: rgb(255, 77, 145);
    font-size: 2rem;
    font-family: "Bellota", sans-serif;
        font-optical-sizing: auto;
        font-weight: 700;
        font-style: normal;
}

h3 {
    color: rgb(0, 0, 0);
    font-size: 1.4rem;
    font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
}

h4 {
    color: rgb(66, 66, 66);
    font-size: 1.4rem;
    font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
}