/* CSS Document */
@charset "utf-8";

:root {
    --pseudoblanco: rgb(247, 243, 237);
    --flynnpaff: rgb(255, 213, 223);
    --banana: rgb(255, 188, 43);
    --mandarina: rgb(246, 130, 77);
    --pitufo: rgb(41, 72, 136);
}

/* configuraciones generales */

* {
    font-family: "novel-sans-pro", sans-serif;
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Es necesario que los paddings y margins sean exactamente los mismos de figma? Porque me pasa que algunas cosas me van gustando mejor con otras medidas una vez pasadas a código, y por ahí quedan un poco distintas, o tengo que volver a figma y cambiarlas?/*


/*HEADER*/

header {
    background-color: var(--pseudoblanco);
    padding-bottom: 70px;
}

header p {
    font-size: 2rem;
    color: var(--banana);
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    line-height: 2rem;
}

#barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 100;
    background-color: var(--pitufo);
    padding: 10px 20px;
}

/*TENGO UN PROBLEMA: tengo el hero adentro de mi header, porque quiero que sea el mismo en todas las páginas, pero quiero que el navbar sea sticky, sólo el navbar, no el hero; entonces si le pongo el sticky al navbar, igual desaparece al irse el header en scroll, entonces se me ocurren dos: o lo dejo así fixed en vez de sticky (funciona), o le hago sticky al header completo, pero pasando el hero al body, y copypaste en todos los html. Cuál sería la mejor opción?*/

nav {
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

nav a {
    padding: 25px;
    color: var(--pseudoblanco);
    line-height: 2.4rem;
}

nav a:hover {
    color: var(--banana);
}

nav a:active {
    color: var(--mandarina);
}

#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    padding-top: 30px;
}

#gif {
    width: 100%;
    height: auto;
    max-width: 800px;
    min-width: 500px;
}


/*MAIN*/

main {
    background-color: var(--pseudoblanco);
}

h1 {
    color: var(--mandarina);
    font-family: "formiga", sans-serif;
    font-weight: 550;
    font-style: normal;
    text-align: center;
    line-height: 2.7rem;
    padding: 20px;
}

h2 {
    color: var(--pitufo);
    font-size: 1.7rem;
    font-family: "formiga", sans-serif;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
    line-height: 3rem;
}

h3,
.etiquetas-form {
    color: var(--pitufo);
    font-size: 1.5rem;
    font-optical-sizing: auto;
    font-weight: 650;
    font-style: normal;
    line-height: 2.2rem;
    max-width: 400px;
    padding: 10px 0px;
}

h4 {
    color: var(--pitufo);
    font-size: 1.5rem;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
    padding: 10px 0px;
}

p {
    text-wrap-style: balance;
    line-height: 1.8rem;
    padding: 5px 0px 5px 0px;
    color: var(--pitufo);
}

ul {
    line-height: 1.8rem;
    color: var(--pitufo);
}

/*Acá en lo que es css del formulario siento que escribí un choclo ajaja traté de juntar las cosas que se repetían, pero sospecho que me quedaron cosas de más igual; el formulario en sí es simple, pero me resultó bastante complejo hacer que todo quede y se vea como yo quería!*/

form {
    width: 100%;
    background-color: var(--mandarina);
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 50px;
    margin: 50px;
}

input {
    background-color: var(--flynnpaff);
    font-size: 1rem;
    color: var(--pitufo);
    border: none;
    outline: none;
    padding: 15px;
    width: 100%;
    height: auto;
    margin-bottom: 30px;
    border: 2px solid transparent;
}

label {
    display: flex;
    font-family: "novel-sans-pro", sans-serif;
    color: var(--pitufo);
    gap: 10px;
}

input[type="radio"],
input[type="checkbox"] {
    accent-color: var(--banana);
    border: none;
    outline: none;
    box-shadow: none;
    position: relative;
    top: 4px;
}

input[type="radio"] {
    transform: scale(1.4);
}

input[type="checkbox"] {
    transform: scale(1.2);
}

input[type="submit"] {
    font-family: "novel-sans-pro", sans-serif;
    color: var(--pitufo);
    font-size: 1.5rem;
    font-optical-sizing: auto;
    font-weight: 650;
    font-style: normal;
    line-height: 2.2rem;
    background-color: var(--banana);
    padding: 10px;
    width: 30%;
    margin-top: 20px;
}

input[type="submit"]:hover {
    background-color: var(--pitufo);
    color: var(--pseudoblanco);
    cursor: pointer;
}

textarea {
    background-color: var(--flynnpaff);
    font-size: 1rem;
    color: var(--pitufo);
    border: none;
    padding: 15px;
    width: 100%;
    height: 150px;
    resize: none;
    outline: none;
    box-shadow: none;
    border: 2px solid transparent;
}

input::placeholder,
textarea::placeholder {
    font-family: "novel-sans-pro", sans-serif;
    font-size: 1rem;
    color: var(--mandarina);
}

input:focus,
textarea:focus {
    border: 2px solid var(--pitufo);
}

#contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding-bottom: 75px;
}

#formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    width: 100%;
    max-width: 1000px;
}

.etiquetas-form {
    padding-bottom: 10px;
}

#enviar {
    display: flex;
    justify-content: end;
}

#radios {
    display: flex;
    justify-content: left;
    gap: 50px;
    flex-wrap: wrap;
}

#checks {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#logo {
    height: 32px;
    width: 32px;
    fill: var(--banana)
}

#logo:hover {
    fill: var(--mandarina)
}

.marquesina {
    overflow: hidden;
    white-space: nowrap;
    background-color: var(--banana);
    padding: 5px 0px;
}

.marquesina-contenido {
    display: inline-block;
    animation: scroll 20s linear infinite;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

.marquesina span {
    color: var(--pseudoblanco);
    font-size: 1.5rem;
    font-family: "formiga", sans-serif;
    font-weight: 600;
    font-style: normal;
    text-align: center;
}

#bienvenida {
    padding: 75px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#carátulas {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 75px;
    padding-top: 50px;
}

.areas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

#intro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--pseudoblanco);
    padding: 70px;
}

#intro img {
    margin: 0px 50px 0px 0px;
}

#p-about {
    max-width: 475px;
    text-align: left;
    height: fit-content;
}

/* YA NO ESTÁ
#cv {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 30px;
}

#cv img {
    margin: 50px
}
    */

details {
    padding-top: 20px;
    padding-bottom: 75px;
}

details[open] summary {
    border-bottom-style: none;
    margin-bottom: 10px;
}

summary {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0px;
    border-bottom-style: solid;
    border-radius: 1px;
    border-bottom-color: var(--mandarina);
    transition: margin 400ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
    margin-bottom: -20px;
    cursor: pointer;
}

summary img {
    transition: 0.4s;
}

details[open] img {
    transform: rotate(-180deg);
}

#desplegables {
    padding: 0px 100px 100px 100px;
    margin: 0px 100px;
}

#desplegables h2 {
    color: var(--mandarina);
}

.fechas {
    color: var(--mandarina);
}

.contenido {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 50px 0px;
    border-bottom-style: solid;
    border-radius: 1px;
    border-bottom-color: var(--mandarina);
}

.contenido h3 {
    display: inline;
}

#skills {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 50px;
    border-bottom-style: solid;
    border-radius: 1px;
    border-bottom-color: var(--mandarina);
}

.tableros {
    display: flex;
    align-items: flex-start;
    justify-content: left;
    background-color: var(--flynnpaff);
    gap: 50px;
    padding: 50px;
}

.tableros ul {
    color: var(--pitufo);
    font-size: 1.5rem;
    font-optical-sizing: auto;
    font-weight: 450;
    font-style: normal;
    line-height: 2.2rem;
}

.cuarenta {
    width: 40%;
}

.veinte {
    width: 20%;
}

/*ESTO YA NO ESTÁ

.listado {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 10px;
    margin: 30px;
}

.tablero {
    margin-top: 75px;
}

#cv li {
    color: var(--pitufo);
}

.skills {
    border: 2px;
    border-style: dotted;
    border-color: var(--mandarina);
    border-radius: 20px;
    padding: 25px;
    margin: 15px;
    min-width: 270px;
}

.skills ul li::before {
    content: "✔";
    margin-right: 0.5rem;
    color: var(--mandarina);
}

#trabajos {
    background-color: var(--pseudoblanco);
    padding: 30px;
    text-align: center;
}

#trabajos h2 {
    padding: 30px 0px 30px 0px;
}

#trabajos p:hover {
    color: var(--banana);
}

#trabajos p:active {
    color: var(--mandarina);
}

#proyectos article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#proyectos {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
}
*/


/*FOOTER*/

#footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: fit-content;
    background-color: var(--flynnpaff);
}

#footer ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
}

#footer p {
    text-align: center;
    font-size: 0.8rem;
    padding-top: 10px;
}

#footer h2 {
    font-family: "novel-sans-pro", sans-serif;
    font-size: 2rem;
    color: var(--pitufo);
    padding: 10px 0px;
}

#trabajemos {
    background-color: var(--pitufo);
    padding: 15px;
    text-align: center;
}

#trabajemos p {
    font-family: "formiga", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 1.8rem;
    color: var(--mandarina);
}

#redes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: fit-content;
    padding: 30px 10px 20px 10px;
}

.iconos {
    height: 40px;
    width: 40px;
    fill: var(--pseudoblanco);
}

.iconos:hover {
    fill: var(--banana)
}

#footer li {
    padding: 0px 20px;
}

#footer ul img {
    min-width: 100%;
}